<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discography</title>
    <link rel="icon" href="BTOB LOGO.png" type="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="btob.css">
    <link rel="index" href="index.html">
    <link rel="about" href="about.html">
    <link rel="member" href="member.html">
    <link rel="discography" href="discography.html">
</head>
<body>
    <header class="flex">
        <div class="logo grid-12 grid-l-4">
            <a href="index.html"><img src="BTOB LOGO.png" width="55"></a>
        </div>
   
        <menu class="grid-12 grid-l-8">
            <ul>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="member.html?member_id=sek">MEMBERS</a></li>
                <li><a href="index.html#news">NEWS</a></li>
                <li><a href="index.html#join">JOIN US</a></li>
                <li><a href="#">DISCOGRAPHY</a></li>
            </ul>
        </menu>
        <nav id="nav">
            <div class="hamT"></div>
            <div class="hamM"></div>
            <div class="hamB"></div>
        </nav>
        <div id="nav_open">
            <i id="nav_esc" class="fa-solid fa-xmark fa-2x" @click="closeModal"></i>
            <div>    
                <ul>
                    <a class="nav_a" href="about.html">ABOUT</a>
                    <a class="nav_a" href="member.html?member_id=sek">MEMBERS</a>
                    <a class="nav_a" href="index.html#news">NEWS</a>
                    <a class="nav_a" href="index.html#join">JOIN US</a>
                    <a class="nav_a" href="#">DISCOGRAPHY</a>
                </ul>
            </div>
        </div>
    </header>
    <div id="discography_info" class="flex">
        <div id="group" class="grid-12">
            <div id="group_pic" class="grid-m-4 grid-s-12"><img src="css/group/BTOB_group_pic.jpeg" alt=""></div>
            <div id="group_name" class="grid-m-8 grid-s-12">
                <h2>BTOB</h2>
                <p id="group_info">BTOB的名稱代表著「Born TO Beat」，意思指「包含音樂抱負，希望和決心，為Beat而生」。以「Beat」的意思為節拍、伴奏、背景、衝擊，也分為「為新的音樂和舞台而生」和「用音樂給全世界聽眾帶來衝擊而生」兩個主題。</p>
                <p id="group_info">
                    成員均具有堅強的現場演唱實力以及創作能力，擅於Acapella，信手拈來的即興演唱與穩定的舞台表演，奠定實力派組合之地位，現場歌唱實力是公認能名列韓國男子組合的TOP 5，有「主唱財閥團」之稱。他們對音樂秉持的初衷為「不是販賣專輯，而是販賣感動」，隨著成員參與歌曲創作與專輯製作，讓BTOB音樂的完整性更加豐富，也形成了BTOB獨有的音樂風格。
                </p>
                <ul>
                    <li>來自：Seoul, South Korea</li>
                    <li>成立於：2012年3月21日</li>
                    <li>類型：韓國流行音樂</li>
                </ul>
            </div>
        </div>
        <div id="a_class">
            <div id="type" class="grid-12">
                    <div>
                        <a href="#" @click="filterAlbums('All')">所有專輯 All</a>
                        <span> ({{ albumCount('All') }})</span>
                    </div>
                    <div>
                        <a href="#" @click="filterAlbums('正規專輯')">正規專輯 Album</a>
                        <span> ({{ albumCount('正規專輯') }})</span>
                    </div>
                    <div>
                        <a href="#" @click="filterAlbums('迷你專輯')">迷你專輯 EP</a>
                        <span> ({{ albumCount('迷你專輯') }})</span>
                    </div>
                    <div>
                        <a href="#" @click="filterAlbums('數位單曲')">數位單曲 Single</a>
                        <span> ({{ albumCount('數位單曲') }})</span>
                    </div>
                    <div>
                        <a href="#" @click="filterAlbums('特別專輯')">特別專輯</a>
                        <span> ({{ albumCount('特別專輯') }})</span>
                    </div>
                    <div>
                        <a href="#" @click="filterAlbums('特別企劃')">特別企劃</a>
                        <span> ({{ albumCount('特別企劃') }})</span>
                    </div>
                    <div>
                        <a href="#" @click="filterAlbums('精選輯')">精選輯</a>
                        <span> ({{ albumCount('精選輯') }})</span>
                    </div>
            </div>
            <div id="music" class="grid-12">
                <div id="music_info" v-for="(a, index) in filteredAlbums" :key="index">
                    <div><img :src="a.pic" alt="a.name" @click="showInfo(a)"></div>
                    <h3 @click="showInfo(a)">{{ a.name }}<h3>
                    <p>{{ a.date }}</p>
                </div>
            </div>
        </div>
        <div class="modal-bc" v-if="showModal" @click="closeModal">
            <div class="modal-overlay">
                <div class="a_pic">
                    <img :src="currentAlbum.pic" alt="currentAlbum.name">
                </div>
                <div class="a_right">
                    <div class="a_tittle">                  
                        <h2>{{ currentAlbum.name }}</h2>
                        <h3>{{ currentAlbum.release }}・{{currentAlbum.type}}</h3>
                    </div>
                    <div class="a_des">
                        <p>{{ currentAlbum.description }}</p>
                        <p>{{ currentAlbum.description_2 }}</p>
                    </div>
                </div>
                <i class="fa-solid fa-xmark fa-2x" @click="closeModal"></i>
            </div>
        </div>
        
    </div>
    <div id="footer" class="flex">
        <div class="grid-12 grid-s-12 grid-m-6 grid-l-2">
            <h2>Information</h2>
                <ul>
                    <li>最新消息</li>
                    <li>相關規定</li>
                    <li>常見問題</li>
                </ul>
        </div>
        <div class="grid-12 grid-s-12 grid-m-6 grid-l-2">
            <h2>About</h2>
            <ul>
                <li>關於我們</li>
                <li>服務條款</li>
            </ul>
        </div>
        <div class="grid-12 grid-s-12 grid-m-6 grid-l-2">
            <h2>Contact</h2>
            <ul>
                <li>台北市信義區信義路一段11巷11弄11號1樓</li>
                <li>(02)1234-5678</li>
                <li>sample@gmail.com</li>
            </ul>
        </div>
        <div class="grid-12 grid-s-12 grid-m-6 grid-l-2">
            <h2>Follow us</h2>
            <div class="flex"></div>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
                <i class="fa-brands fa-line fa-2x"></i>
        </div>
        <div class="grid-12">
            Copyright © 2024 Bluer. All rights reserved.<br>
            版權所有© 2024 鄭皓予
        </div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="nav.js"></script>
<script>
    const app = Vue.createApp({
        data(){
            return{
                album:[
                //  2023
                    {
                    name:'Wind And Wish',
                    pic:'css/discography/2023_wind-and-wish.jpeg',
                    date:'2023・EP',
                    release:'2023年5月2日',
                    type:'迷你專輯',
                    description:'第12張韓語迷你專輯，專輯主題以象徵幸運的「四葉草」，展現春天的清新氛圍，主打為專輯同名歌曲〈WIND AND WISH〉。專輯於2023年5月2日正式發行，發行當日也是成員星材的生日，發行共分為「WIDE VER.」、「WISH VER.」和「CLOVER VER.」三種版本。',
                    description_2:'主打曲〈WIND AND WISH〉由成員任炫植製作，歌曲有期盼以幸福的「風」吹來「希望」的雙重含義，傳遞期望所愛之人能夠幸福安康的心意，也蘊含BTOB將成為「人間幸運草」帶來正能量的訊息，是一首「BTOB牌」抒情舞曲。',
                },
                //  2022
                {
                    name:'Be Together',
                    pic:'css/discography/2022_be-together.jpeg',
                    date:'2022・Album',
                    release:'2022年2月21日',
                    type:'正規專輯',
                    description:'第3張韓語正規專輯，是在全員完成服役後，睽違四年正式以完整體發表的音樂專輯，同時也是慶祝出道十週年的作品，成員任炫植與李旼赫首次包辦全專輯的歌曲創作，可感受BTOB更加鮮明多樣的音樂色彩。主打歌曲為〈歌曲/노래〉',
                    description_2:'主打歌〈歌曲〉中加入了之前BTOB的代表曲〈想念〉、〈沒有你不行〉、〈Beautiful Pain〉、〈沒關係〉的相關歌詞',
                },
                //  2021
                {
                    name:'Outsider',
                    pic:'css/discography/2021_4U-Ousider(Japan).png',
                    date:'2021・EP',
                    release:'2021年10月27日',
                    type:'迷你專輯',
                    description:'日語特別迷你專輯，主打歌曲〈Outsider（Japanese ver.）〉於2021年10月13日在日本先行發表，專輯於同年10月27日正式發行',
                },
                {
                    name:'4U：OUTSIDE',
                    pic:'css/discography/2021_4u-outside.jpeg',
                    date:'2021・EP',
                    release:'2021年8月30日',
                    type:'特別專輯',
                    description:'第2張韓語特別專輯，成員除服役中的任炫植、陸星材之外，由徐恩光、李旼赫、李昌燮、Peniel參與專輯活動，專輯名稱也有在子團BTOB 4U之後，即將迎接BTOB完全體的意義，專輯於2021年8月30日正式發行。主打歌曲為〈Outsider〉，是一首使用1990年代後期、結合靈魂和現代R&B的Neo Funk / Neo Soul類型歌曲，描述渴望打破現實的煩憂、重新回歸自我的意義。',
                },
                //  2020
                {
                    name:'INSIDE(BTOB-4U)',
                    pic:'css/discography/2020_4U-INSIDE.jpeg',
                    date:'2020・EP',
                    release:'2020年11月16日',
                    type:'迷你專輯',
                    description:'子團BTOB 4U由已退役成員徐恩光、李旼赫、李昌燮以及免服役的Peniel組成，是BTOB的第二組子團。團名為「For You」的諧音，也有「四名成員聚在一起」的意思。2020年11月16日，以首張韓語迷你專輯《INSIDE》正式出道。',
                    description_2:'主打歌曲〈Show Your Love〉為成員炫植的創作曲，其中含有「困難時期也要相互關愛、生活充滿希望」的意義，成員們認為這是一首能夠在眼下的艱難時期將愛與希望傳遞給大家的歌曲。',
                },
                //  2018
                {
                    name:'Hour Moment',
                    pic:'css/discography/2018_hour-moment.jpeg',
                    date:'2018・特別專輯',
                    release:'2018年11月12日',
                    type:'特別專輯',
                    description:'BTOB的首張韓語特別專輯。先行曲〈Friend〉由鎰勳作曲填詞編曲，歌詞描述BTOB七名成員之間的深刻感情，對於彼此早已是超越友情、如家人般的不可或缺的存在。該曲包括服役中的恩光亦有參與，在入伍前即完成錄製，是BTOB送給歌迷Melody的特別禮物，於2018年10月23日發行音源。',
                    description_2:'主打曲〈既是美麗又痛苦的〉由成員任炫植作曲填詞編曲，李旼赫、Peniel、鄭鎰勳參與填詞，是描述相遇和離別不斷反覆，活著的每一瞬間無法重來、美麗又讓人心痛的心情，此次亦將手語加入編舞當中。',
                },
                {
                    name:'When It Rains(BTOB-BLUE)',
                    pic:'css/discography/2018_BLUE-When_It_Rains.jpeg',
                    date:'2018・Single',
                    release:'2018年8月2日',
                    type:'數位單曲',
                    description:'子團BTOB-BLUE的第二張韓文單曲，是繼2016年後睽違兩年回歸，〈When It Rains〉由成員任炫植作曲填詞編曲，也是炫植早期的創作，並從2015年開始透露。歌曲描述每當雨落下之時，就會喚起對眷戀之人的思念和後悔，是以層次豐富的編曲與四人四色的歌聲完美融合的感性抒情曲。',
                },
                {
                    name:'THIS IS US',
                    pic:'css/discography/2018_this-is-us.jpeg',
                    date:'2018・EP',
                    release:'2018年6月18日',
                    type:'迷你專輯',
                    description:'第11張韓語迷你專輯。先行曲〈The Feeling〉於2018年6月11日公開音源。專輯於2018年6月18日正式發行，並分為2種版本。主打歌曲為〈不能沒有你/너 없인 안 된다〉。',
                    description_2:'〈The Feeling〉鎰勳作曲填詞，描述對於愛和感情有了全新感受，把對此的美好感覺蘊留在歌曲裡，是以神秘氛圍開始、加入電子元素，呈現出豐富層次的歌曲。主打曲〈不能沒有你〉由炫植作曲填詞製作，延續正規2輯主打曲〈想念〉，表達出「我很想念你，不管怎麼想，還是不能沒有你」的心境，是能展現「這就是BTOB」的清涼告白歌曲。',
                },
                {
                    name:'BTOB JAPAN BEST ALBUM 2014-2017〜1096DAYS〜',
                    pic:'css/discography/2018_JAPAN_BEST_ALBUM.png',
                    date:'2018・精選輯',
                    release:'2018年2月28日',
                    type:'精選輯',
                    description:'BTOB的首張日語精選輯，收錄自2014年日本出道以來的1096天，從首張單曲〈WOW(JPN ver.)〉到2017年所發行之單曲、專輯中的精選歌曲。',
                },
                //  2017
                {
                    name:'Brother Act.',
                    pic:'css/discography/2017_brother-act.jpeg',
                    date:'2017・Album',
                    release:'2017年10月16日',
                    type:'正規專輯',
                    description:'第2張韓語正規專輯，專輯名稱的靈感來自於美國電影《修女也瘋狂/Sister Act.》是一張以BTOB獨有的音樂風格、從第一首到最後一首歌曲都像戲劇般表現的專輯。主打歌曲〈想念〉，由成員炫植作曲填詞編曲，表述對離別的戀人淡然的表達仍然想念的心情。',
                    description_2:'以帶有力量的鋼琴演奏作為開端，逐漸將緊張感推起來的〈My Lady〉是一首俐落的現代搖滾。而〈Guitar〉在rap line的引領及vocal line的熱唱下，以讓人不覺負擔的方式包容在一起。而為專輯畫下句點的〈Finale：我們的演唱會〉用充滿希望的合唱來再現專輯靈感來源《修女也瘋狂》。',
                },
                {
                    name:'Brand new days ～怎樣的未來～',
                    pic:'css/discography/2017_brand-new-days.jpeg',
                    date:'2017・Single',
                    release:'2017年10月16日',
                    type:'數位單曲',
                    description:'第7張日語單曲，主打曲〈Brand new days ～怎樣的未來～〉如汽水般清爽，是旋律和歌聲都充滿疾速奔馳感、彷彿能燃燒夏日的歌曲',
                },
                {
                    name:'MOVIE(JPN ver.)',
                    pic:'css/discography/2017_movie-jpn-ver-.jpeg',
                    date:'2017・Single',
                    release:'2017年5月3日',
                    type:'數位單曲',
                    description:"第6張日語單曲，同時也是BTOB第十張韓語迷你專輯《Feel'eM》主打曲〈MOVIE〉的日文版，亦收錄了成員炫植的創作曲〈SOMEDAY〉日文版。",
                },
                {
                    name:'PIECE OF BTOB',
                    pic:'css/discography/2017_Piece_of_BTOB.jpeg',
                    date:'2019・特別企劃',
                    release:'2019年4月1日',
                    type:'特別企劃',
                    description:'自2017年4月起，以每月一位成員推出Solo單曲的方式進行的特別企劃。七名成員通過多樣化的曲風，展現出各自鮮明的個性及色彩，僅以發行數位單曲音源為主，其餘的歌曲宣傳、MV拍攝等等，均由成員自行主導與發想。',
                },
                {
                    name:"Feel'eM",
                    pic:'css/discography/2017_feelem.jpeg',
                    date:'2017・EP',
                    release:'2017年3月6日',
                    type:'迷你專輯',
                    description:'第10張韓語迷你專輯，專輯名的發音為「Film(電影)」，亦是「Feel them」的縮寫，有「感受他們」的意思。主打歌曲〈MOVIE〉，由鎰勳作曲填詞編曲，是以鋼琴和銅管樂器為主要編曲的流行嘻哈龐克舞曲，描述男人愛上了某個受傷女人的故事，就像普遍愛情電影裡的愛情故事一樣，浪漫地墜入愛河裡。',
                    description_2:'先行曲〈SOMEDAY〉炫植作曲填詞編曲，歌曲表達即使後悔也不變的初心，雖然在不確定的未來中充滿了未知，但堅信彼此一定會在變得更好的時候再次相遇的決心，展現了Vocal感性懇切的歌聲和強烈不失情感的Rap的完美融合。',
                },
                //  2016
                {
                    name:'24/7',
                    pic:'css/discography/2016_twenty-four-seven.jpeg',
                    date:'2016・Album',
                    release:'2016年12月7日',
                    type:'正規專輯',
                    description:'BTOB的首張日語正規專輯，專輯名稱有著「每天24小時，一周7天，代表BTOB的音樂無時無刻都陪伴著大家」的涵義。從舞曲、治癒情歌和熱烈的Ballad到特別的聖誕歌曲，是展現多才多藝的藝人BTOB獨特魅力的首張日本正規專輯。',
                },
                {
                    name:'New Men',
                    pic:'css/discography/2016_new-men.jpeg',
                    date:'2016・EP',
                    release:'2016年11月7日',
                    type:'迷你專輯',
                    description:"第9張韓語迷你專輯，主打歌曲為〈祈禱（I'll Be Your Man）〉，由炫植參與作曲填詞編曲，講述無法忘記已離開的女人，為成為她身邊的男人而虔誠祈禱，是展現充滿力量的rap及感染力的歌曲。這是BTOB在「抒情三部曲」之後，顛覆「Healing dol(治癒系偶像)」印象，睽違2年再次以舞曲主打回歸，並如專輯名稱一般展現強烈性感的全新形象",
                    description_2:'收錄曲〈過現未愛/예지앞사〉是七名成員為粉絲創作的Fan Song，源自成員昌燮的新造詞，意謂著「過去、現在、未來，都愛著你」的意思。',
                },
                {
                    name:'Stand By Me(BTOB-BLUE)',
                    pic:'css/discography/2016_BLUE-Stand_By_Me.jpeg',
                    date:'2016・Single',
                    release:'2016年9月19日',
                    type:'數位單曲',
                    description:'BTOB-BLUE是首度推出的子團，由vocal line成員徐恩光、李昌燮、任炫植、陸星材組成。2016年9月19日，發表首張韓語數位單曲〈Stand By Me〉正式出道，此曲由黑眼必勝擔綱創作，MV由成員Peniel執導。',
                },
                {
                    name:'想要去旅行',
                    pic:'css/discography/2016_想要去旅行.jpeg',
                    date:'2016・Single',
                    release:'2016年8月6日',
                    type:'數位單曲',
                    description:'第4首韓語單曲，〈想要去旅行/여행가고 싶어〉，是一首節奏輕快的夏季歌曲，這也是BTOB特地為了粉絲送上的夏日驚喜禮物，該曲也作為韓國綜藝節目《Battle Trip》的主題曲',
                },
                {
                    name:'L.U.V',
                    pic:'css/discography/2016_luv.jpeg',
                    date:'2016・Single',
                    release:'2016年6月15日',
                    type:'數位單曲',
                    description:'第5張日語單曲，該曲是將夏天的夜空染上華麗色彩般的愛情抒情曲，反映著兩人之間不會改變的愛情及懷著滿溢情感。七名成員爆發力十足的唱功和和聲，給人強烈感覺的正統情歌。撇開所有的畏懼，要收穫愛人的澎湃歌詞，和高難度唱法的戲劇性的歌曲展開，能夠讓人感受到不同以往的BTOB的抒情魅力。',
                },
                {
                    name:'Remember That',
                    pic:'css/discography/2016_remember-that.jpeg',
                    date:'2016・EP',
                    release:'2016年3月28日',
                    type:'迷你專輯',
                    description:'第8張韓語迷你專輯，主打歌〈春天的記憶〉代表冰冷的季節過去後，春天又來了，也延續了信得過去聽的「BTOB牌情歌」的名譽。',
                    description_2:'開場的〈Killing Me〉是炫植和海外作曲家團隊的合作作品，豐富的音效以及極具爆發力演唱的昌燮，牢牢抓住了聽眾的雙耳。「治癒偶像」BTOB的價值再次得到證明的〈試著描繪〉也通過充滿希望的歌詞添出幾分心熱的感動。還有像春天情侶一樣可愛的第二主打歌〈So pretty〉，以及鎰勳所創作的〈空位〉，就像是BTOB的寶物一樣的新歌，揭開了神秘的面紗。',
                },
                {
                    name:'Dear Bride',
                    pic:'css/discography/2016_dear-bride.jpeg',
                    date:'2016・Single',
                    release:'2016年2月24日',
                    type:'數位單曲',
                    description:'第4張日語單曲，主打曲〈Dear Bride〉指將所愛之人形容為美麗的純白天使，祝福對方能得到最好的幸福。2016年2月24日於日本以三個不同版本發行。',
                },
                //  2015
                {
                    name:'I mean',
                    pic:'css/discography/2015_i-mean.jpeg',
                    date:'2015・EP',
                    release:'2015年10月12日',
                    type:'迷你專輯',
                    description:'第7張韓語迷你專輯，主打歌〈回家的路〉傳達了”就算遭受挫折與失敗後感到失望悲傷，即使帶著傷痛也要堅持往夢想邁進，最後一定能再次展開笑容”的訊息，專屬於BTOB風格的抒情療癒歌曲。',
                    description_2:'〈NEVERLAND(Feat. G.NA)〉，是一首將與戀人度過美好一天的情景比喻為童話中的「NEVERLAND」，由rap line演繹。另一邊vocal line參與的〈我會在這裡〉則浪漫詮釋出一對相愛的戀人，不論辛苦或開心都會一起相伴度過的R&B旋律。〈除了我都是狼〉以BTOB的惡童風格與率真的戲謔方式，演釋出戀愛中的男性對戀人「愛的忠告」與保護的欲望。' 
                },
                {
                    name:'夏色 MY GIRL',
                    pic:'css/discography/2015_my-girl.jpeg',
                    date:'2015・Single',
                    release:'2015年8月19日',
                    type:'數位單曲',
                    description:'第3張日語單曲、第2張原創日語單曲，同名主打〈夏色 MY GIR〉由多田慎也創作；旼赫、Peniel、鎰勳負責饒舌填詞，並在2015年8月19日發行4個版本，包括一個限量版本及三個通常版本。',
                },
                {
                    name:'Complete',
                    pic:'css/discography/2015_complete.jpeg',
                    date:'2015・Album',
                    release:'2015年6月29日',
                    type:'正規專輯',
                    description:'BTOB的首張韓語正規專輯，是由13首完成度極高的歌曲作品所組成，包含了BTOB更加成長的作詞及作曲能力。主打歌〈It’s Okay〉表現不同於以往，更跳脫被定型的偶像形象，是一首以出色唱腔與真實感性合成傳達出成員們胸懷抱負的敘事曲。藉由甜美的旋律和真摯的歌詞文字為辛苦疲憊的人們帶來慰藉，在忙碌生活中感到無所期待的時候，希望能透過這首歌曲讓人感受到感動與些微的放鬆。由成員的柔和聲線組成的重唱和歌曲後半宏偉的背景音樂營造出讓人感動不已的氛圍。',
                },
                {
                    name:'未來(明天)',
                    pic:'css/discography/2015_未來.jpeg',
                    date:'2015・Single',
                    release:'2015年3月25日',
                    type:'數位單曲',
                    description:'首張日本原創單曲〈未來〉由日本作曲家多田慎也和生田真心參與創作，二人曾為日本團體嵐和AKB48打造多首人氣歌曲。歌曲作為BTOB的「春季healing song」，為經歷失戀、展開全新未來的人帶去安慰。',
                },
                //  2014
                {
                    name:"The Winter's Tale",
                    pic:'css/discography/2014_the-winters-tale.jpeg',
                    date:'2014・EP',
                    release:'2014年12月22日',
                    type:'迷你專輯',
                    description:'第6張韓語迷你專輯，主打歌〈The Winter’s Tale〉和先行曲〈You Can Cry〉是由團員炫植、鎰勳親自負責作詞、作曲、編曲。〈The Winter’s Tale〉描述男人雖然希望舊情人可以幸福，但卻依然還愛著舊情人眷戀心情。',
                    description_2:'這張專輯不僅收錄團員們的創作，也有師兄BEAST龍俊亨所屬的製作團隊的作品。由炫植、鎰勳創作的〈Cheers!〉是一首歌詞詼諧的歌曲，非常適合迎接新年的氛圍。專輯也收錄充滿BTOB風格的聖誕歌〈Because It’s Christmas〉。',
                },
                {
                    name:'You Can Cry',
                    pic:'css/discography/2014_You Can Cry.jpeg',
                    date:'2014・Single',
                    release:'2014年12月3日',
                    type:'數位單曲',
                    description:'第3首韓語單曲，〈You Can Cry〉為冬季特別單曲，其中一段歌詞「哭也無妨，哭也無妨，聖誕老人也是孤身一人。」是一首以趣味歌詞撫慰單身男女要獨自度過聖誕節的心。',
                },
                {
                    name:'WOW(JPN ver.)',
                    pic:'css/discography/2014_wow(japan ver).jpeg',
                    date:'2014・Single',
                    release:'2014年11月12日',
                    type:'數位單曲',
                    description:'BTOB的首張日語單曲，〈WOW〉為BTOB第2張迷你專輯的主打曲，此次除了〈WOW〉還收錄了韓語第2首單曲〈2nd Confession〉的日語版，並以此次於日本正式出道。',
                },
                {
                    name:'MOVE',
                    pic:'css/discography/2014_move.jpeg',
                    date:'2014・EP',
                    release:'2014年9月29日',
                    type:'迷你專輯',
                    description:'第5張韓語迷你專輯，主打歌〈You’re So Fly〉描述男人彷彿中了魔法一樣，在一瞬間墜入情網的心情。充滿力量的節奏和簡單的旋律，就像是看見一見鍾情的女性而心跳的聲音。專輯也收錄嘻哈、情歌、電子舞曲等多樣曲風。',
                    description_2:'回憶初戀的〈應該過得不錯吧〉，透過吉他旋律和R&B節奏完美結合，是首能夠喚醒秋天鄉愁的情歌。〈You’re My Angel〉為rap line和JOO合作，表現出戀愛中人細膩與浪漫的心情。而〈不知道〉一曲由vocal line詮釋，唱出對過往戀人懷念，哀戚的歌聲更增添歌曲的悲傷感。〈Shake It〉是會想跟著節奏擺動的Disco曲風，由團員炫植和鎰勳攜手打造的電子舞曲。',
                },
                {
                    name:'Beep Beep',
                    pic:'css/discography/2014_beep-beep.jpeg',
                    date:'2014・EP',
                    release:'2014年2月17日',
                    type:'迷你專輯',
                    description:'第4張韓語迷你專輯，同名主打歌〈Beep Beep〉是勇敢的兄弟和BTOB首次合作的歌曲，這次專輯展現與以往不同的搖滾、嘻哈風格，以扎實的唱功及活潑的魅力獲得迴響。',
                    escription_2:'此次專輯收錄多首成員參與的作品，〈結束了嗎/끝난 건가요〉成員昌燮參與作詞，〈	Hello Mello〉則是由鎰勳、旼赫共同作詞作曲，〈不會結束的（Melody）〉為炫植、昌燮、恩光三人共同製作，此首是成員們特別獻給粉絲Melody的專屬歌曲。',
                },
                //  2013
                {
                    name:'Thriller',
                    pic:'css/discography/2013_thriller.jpeg',
                    date:'2013・EP',
                    release:'2013年9月9日',
                    type:'迷你專輯',
                    description:'第3張韓語迷你專輯，同名主打歌〈Thriller〉使用銳利的絃樂和強烈的節奏，搭配BTOB團員粗獷的歌聲，讓整首歌充滿力量。毫無喘息的歌曲結構，加上如狂奔般的RAP節奏，完成了〈Thriller〉這首歌曲。',
                    description_2:'BTOB這次也參與歌曲的創作。〈為什麼〉由炫植和前輩BEAST李起光共同合作，並由旼赫、鎰勳參與作詞。歌詞描述成員們在充滿不確定的練習生時期，心中充滿恐懼的感受。專輯中也收錄了描述男人熱戀心情的〈Catch Me〉，以及讓聽者彷彿陷入熱戀一樣的〈像水晶一樣〉等多首歌曲，是一張曲風十分多變的專輯。',
                },
                {
                    name:'2nd Confession',
                    pic:'css/discography/2013_second-confession.jpeg',
                    date:'2013・Single',
                    release:'2013年4月10日',
                    type:'數位單曲',
                    description:'第2首數位單曲，這是一首春日氣息的甜美告白頌，各個年齡段都能產生共鳴且一同欣賞的平緩旋律所編成。特別是在〈第二次告白〉開始部分配有解說的獨特創意構成，陳述了已經分手的戀人中男人進行第二次告白的緊張激動心情，風趣又機智的歌詞更加展現出歌曲的抒情風格。同時在BTOB出道一年之計，該歌曲中飽含了對為BTOB一直加油打氣的歌迷的感謝話語，也富含公開向粉絲們演唱小夜曲的意義。',
                },
                //  2012
                {
                    name:'Press Play',
                    pic:'css/discography/2012_press-play.jpeg',
                    date:'2012年9月12日',
                    date:'2012・EP',
                    type:'迷你專輯',
                    description:'第2張韓語迷你專輯，「Press Play」令人聯想到收音機的播放鍵，宣告「從現在起是BTOB的Play Time」，主打歌〈WOW〉為90年代風靡全球的新貴搖擺曲風，展現BTOB與眾不同的音樂類型與特色，給聽眾帶來有別以往K-POP華麗電音的感受。',
                    description_2:'Intro曲〈Press Play〉請來公司前輩G.NA合作。專輯另收錄充滿90年代懷舊氣息的〈只知愛妳〉、傳達溫暖與甜蜜給戀人的〈U&I〉、木吉他旋律與溫柔嗓音交織而成的〈My Girl〉，以及撫慰人心的〈Stand Up〉等歌曲。',
                },
                {
                    name:'Father',
                    pic:'css/discography/2012_father.jpeg',
                    date:'2012・Single',
                    release:'2012年5月3日',
                    type:'數位單曲',
                    description:'首張迷你專輯發表後，5月3日公開了單曲〈Father/아버지〉，並配合於5月8日的父母節於官方Youtube頻道上傳了父母節特別節目。此首單曲收錄於「亞洲特別盤」',
                },
                {
                    name:'Born To Beat',
                    pic:'css/discography/2012_born-to-beat.jpeg',
                    date:'2012・EP',
                    release:'2012年4月3日',
                    type:'迷你專輯',
                    description:'第1張韓語迷你專輯，專輯名稱與BTOB的團名全稱「Born To Beat」同名，於2012年4月3日正式發行，雙主打歌曲為〈Insane/비밀〉〈Imagine〉。2012年6月15日於亞洲地區發行「亞洲特別盤」。',
                },],
                showModal: false,
                currentAlbum: {},
                selectedType: 'All',
            }
        },
        computed: {
                filteredAlbums() {
                    if (this.selectedType === 'All') {
                        return this.album;
                    } else {
                        return this.album.filter(a => a.type.includes(this.selectedType));
                    }
                }
            },
        methods: {
                showInfo(album) {
                    this.currentAlbum = album;
                    this.showModal = true;
                },
                closeModal() {
                    this.showModal = false;
                },
                filterAlbums(type) {
                    this.selectedType = type;
                },
                albumCount(type) {
                    if (type === 'All') {
                        return this.album.length;
                    } else {
                        return this.album.filter(a => a.type.includes(type)).length;
                    }
                }
            }
    }).mount("#discography_info");
</script>